<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon</title>
    <link rel="stylesheet" href="/css/horizon.css">
    <link rel="stylesheet" href="/css/horizonQuery.css">
</head>
<body>
    <div class="container">
        <div class="div1">
            <div class="headings">
                <ul>
                    <li><a href="/p/emergency">Emergency</a> </li>
                    <li><a href="/p/contact">Contact Us</a></li>
                    
                </ul>

            </div>
            <div class="content">
                <h1>Health.<br>
                Powered By Horizon.</h1>
                <h3>Supporting better health outcomes and clinical experience with intelligent technologies.</h3>
                <h2>Continue as:</h2>
                <div class="buttons">
                    <div class="loginD">Doctor</div>
                    <div class="loginP">Patient</div>
                </div>
            </div>
            
        </div>
        <div class="div2">
            <div class="image2"></div>
            <div class="content2">
                <h1>Take Good Care Of Yourself.</h1>
                <p>Your body is sending you important signal about your health. Understand, manage and get care of symptoms with trusted medical expertise.</p>
            </div>
        </div>
        <div class="div3">
            <div class="content3">
                <h1>Manage Your Documents With Us.</h1>
                <p>Take care of your lab reports and prescriptions with our smart technology. From now, you can access your documents online.</p>
            </div>
            <div class="image3"></div>
        </div>
        <div class="div4">
            <div class="image4"></div>
            <div class="content4">
                <h1>Sleep Better.</h1>
                <p>Sleep is essential to a healthy life and activity most of us love. So why do we struggle to get enough of it?</p>
            </div>
        </div>
        
    </div>
    <script src="/js/horizon.js"></script>
</body>
</html>
